<a href="https://colab.research.google.com/github/salma10102005/ml-course/blob/main/midslide1234568.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = "ummey salma"
age = 21
print("name:","age:")

name: age:

In [ ]:
name = "ummey salma"
age = 21
print("name:",name,"age:",age)

name: ummey salma age: 21

In [ ]:
a = float(input("enter first number:"))
b = float(input("enter a second number:"))
c = float(input("enter a third number:"))
print("the largest number is" , max(a,b,c))

enter first number:10
enter a second number:20
enter a third number:30
the largest number is 30.0

In [ ]:
languages = ("swift" , "python" , "go")
for i in languages:
  print(i)
  print('......')
print("jani na")

swift
......
python
......
go
......
jani na

In [ ]:
language = ("python")
for x in language:
  print(x)

p
y
t
h
o
n

In [ ]:
language = ("python")
for i in language:
  print("i")

i
i
i
i
i
i

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
n = int(input("enter a number:"))
total = 0
for i in range(1, 1+n):
  total += i
print("sum:",total)

enter a number:10
sum: 55

In [ ]:
number = int(input('enter a number:'))
for i in range(1, 11):
  print(f'{number}X {i} = {number * i} ')

enter a number:10
10X 1 = 10
10X 2 = 20
10X 3 = 30
10X 4 = 40
10X 5 = 50
10X 6 = 60
10X 7 = 70
10X 8 = 80
10X 9 = 90
10X 10 = 100

In [ ]:
number = int(input("enter a number:"))
factorial = 1
for i in range(1, number+1):
  factorial *= i
print(f'the factorial of {number} is {factorial}.')

enter a number:10
the factorial of 10 is 3628800.

In [ ]:
number = int(input("enter a number: "))
if number > 1 :
  for i in range(2,number):
    if number%i == 0 :
      print(f"{number} is not a prime number")
    else:
      print("number is a prime number")
else:
  print("number is not a prime number")

enter a number: 5
number is a prime number
number is a prime number
number is a prime number

In [ ]:
number = int(input("enter a number: "))
if number > 1 :
  for i in range(2,number):
    if number%i == 0 :
      print(f"{number} is not a prime number")
      break
  else:
      print(f"{number} is a prime number")
else:
  print("number is not a prime number")

enter a number: 5
5 is a prime number

In [ ]:
number = int(input("enter a number: "))
if number > 1 :
  for i in range(2,number):
    if number%i == 0 :
      print(f"{number} is not a prime number")
      break
  else:
      print(f"{number} is a prime number")
else:
  print("number is not a prime number")

enter a number: 8
8 is not a prime number

In [ ]:
#list elements
fruits = [ 'apple' , 'orange', 'banana', 'cherry', 'bluberry']
for i in fruits:
  print(i)

apple
orange
banana
cherry
bluberry

In [ ]:
numbers = [ 3, 5, 2 , 9 , 10 , 6, 2 ]
largest = 0
for i in numbers:
  if i > largest :
    largest = i
print(f"the largest number is {largest}")

the largest number is 10

In [ ]:
string = input('enter a string : ')
vowels = 'aeiouAEIOU'
count = 0
for i in string :
  if i in vowels:
    count += 1
print(count)

enter a string : cseSUB
2

In [ ]:
#fibonacci sequence
n = int(input('enter a number:'))
a,b = 0,1
fibonacci_sequence = []
for i in range(n):
  fibonacci_sequence.append(a)
  a,b = b, a+b
print(fibonacci_sequence, sep=",")

enter a number:10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
number = int(input("enter a number: "))
while number != 0:
  print(f"you entered a {number}")
  number = int(input('enter a number:'))
print("the end")

enter a number: 10
you entered a 10
enter a number:12
you entered a 12
enter a number:0
the end

In [ ]:
num1 = 5
print(num1, 'is type of', type(num1))

num2 = 4.32
print(num2, 'is type of', type (num2))

num3 = 8+2j
print(num3, 'is type of', type (num3))

#slide 6 start

5 is type of <class 'int'>
4.32 is type of <class 'float'>
(8+2j) is type of <class 'complex'>

In [ ]:
#random module
import random
print(random.randrange(10,20))
list1 = ['a','b','c','d','e']
print(random.choice(list1))

13
a

In [ ]:
import math
print(math.pi)
print(math.cos(math.pi))
print(math.exp(10))
print(math.log10(1000))
print(math.sinh(1))
print(math.factorial(6))

3.141592653589793
-1.0
22026.465794806718
3.0
1.1752011936438014
720

In [ ]:
#python number list
numbers = [10,20,30,40]
print(numbers)

[10, 20, 30, 40]

In [ ]:
# using list to create list
x = 'CSE,SUB'
result = list(x) #coverting list from text
print(result)

['C', 'S', 'E', ',', 'S', 'U', 'B']

In [ ]:
languages = ['python' , 'c++' , 'swift']
print(languages[0])
print(languages[2])
print(languages[-1])

python
swift
swift

In [ ]:
my_list = ['p', 'r', 'o','g' , 'r', 'a', 'm']
print(my_list[2:5])
print(my_list[5:])
print(my_list[:])

['o', 'g', 'r']
['a', 'm']
['p', 'r', 'o', 'g', 'r', 'a', 'm']

In [ ]:
subject = ['cse','EEE', "CE"]
print('original list:', subject)

subject.append("english")
print('update list:' , subject)

subject.insert(2,'english')
print('update list:', subject)

original list: ['cse', 'EEE', 'CE']
update list: ['cse', 'EEE', 'CE', 'english']
update list: ['cse', 'EEE', 'english', 'CE', 'english']

In [ ]:
numbers = [1 , 2 ,3]
print('numbers:', numbers)

even_numbers = [2,4,6]
numbers.extend(even_numbers)
print('update numbers:' , numbers)

numbers: [1, 2, 3]
update numbers: [1, 2, 3, 2, 4, 6]

In [ ]:
#change list item
colors = ['red', 'black' , 'green']
print(colors)

colors[2] = 'blue'
print('update colors:' , colors)

['red', 'black', 'green']
update colors: ['red', 'black', 'blue']

In [ ]:
#change list item
colors = ['red', 'black', 'green']
print(colors)

colors[2] = 'blue'
print('update colors:', colors)

['red', 'black', 'green']
update colors: ['red', 'black', 'blue']

In [ ]:
#remove item from list
numbers = [2,4,5,7]
numbers.remove(4)
print(numbers)

[2, 5, 7]

In [ ]:
#remove one or more elements of a list
names = ['salma','sadia','hridoy']
del names[1]

print(names)
del names[1:4]
print(names)

['salma', 'hridoy']
['salma']

In [ ]:
names = [ 'salma' , 'sadia']
del names

In [ ]:
#remove one or more elements of a list
names = ['ma','salma','sadia','hridita']
del names[1]
print(names)

del names[1:4]
print(names)

['ma', 'sadia', 'hridita']
['ma']

In [ ]:
#python list lenth
cars = ['BMW', 'LAMBORGHINI', 'BUGATTI']
print('total elements :', len(cars))

total elements : 3

In [ ]:
#create a list with squire value
numbers = [n**2 for n in range(1,6)]
print(numbers)

[1, 4, 9, 16, 25]

In [ ]:
#check if an item exits in the python list
fruits = ['apple','cherry','banana']
print('orange' in fruits)
print('cherry' in fruits)

False
True

In [ ]:
#sort a list in ascending and descending order :
my_list = input('enter a elements:').split()
my_list = [int(x) for x in my_list]

my_list.sort()
print('ascending order:' , my_list)

my_list.sort(reverse = True)
print('descending order:' , my_list)

enter a elements:10 20 40 30 60 50
ascending order: [10, 20, 30, 40, 50, 60]
descending order: [60, 50, 40, 30, 20, 10]

In [ ]:
#remove dupilactes
list1 = input('enter list1: ' ).split()
list1 = [int(x) for x in list1]

list2 = input('enter list2 : ').split()
list2 = [int(x) for x in list2]

merged_list = list1 + list2
merged_list = list(set(merged_list))

print('merged list : ' , merged_list)

enter list1: 10 20 10 30 50 40
enter list2 : 10 30 70 80 40 50
merged list :  [70, 40, 10, 80, 50, 20, 30]

In [ ]:
list1 = input('enter list1 : ').split()
list1 = [int(x) for x in list1 ]

list2 = input('enter list2 :').split()
list2 = [int(x) for x in list2]

merged_list = list1 + list2
merged_list = list(set(merged_list))

print('merged list: ' , merged_list)

enter list1 : 10 20 30 40
enter list2 :30 40 50 60
merged list:  [40, 10, 50, 20, 60, 30]

In [ ]:
list1 = input('enter list1 : ')split()
list1 = [int(x) for x in list1]

list2 = input('enter list2 :').split()
list2 = [int(x) for x in list2]

intersection = list(set(list1) & set(list2))
print('intersection of two set:' , intersection)

enter list1 : 10 20 3 40
enter list2 :20 20 30 40
intersection of two set: [40, 20]

In [ ]:
#second largest elements
list1 = input('enter list1: ').split()
list1 = [int(x) for x in list1]

unique_list = list(set(list1))
unique_list.sort()
if len(unique_list) >= 2 :
  second_largest = unique_list[-2]
  print('second largest:' , second_largest)
else:
  print('no elements are find')

enter list1: 10 14 18 10 90
second largest: 18

In [ ]:
# create a dictionary slide 7 started
county_capitals = {
    'germany' : 'barlin' ,
    'denmarkk' : ' copenhagen',
    'bangladesh' : 'dhaka'

}
print(country_capitals)

{'germany': 'berlin', 'bangladesh': 'dhaka', 'england': 'londom'}

In [ ]:
person = {
    'name' : 'salma',
    'age' : '21',
    'hobbies' : ['reading','travelling','cooking'],
    'country' : 'bangladesh'
}
for key, value in person.items():
  print(f"{key} - {value}")

name - salma
age - 21
hobbies - ['reading', 'travelling', 'cooking']
country - bangladesh

In [ ]:
#dictionary items gulo ke alada kora
person = {
    'name' : 'salma',
    'hobbies' : ['reading','cooking'] ,
    'country' : 'bangladesh'

}
print(person['name'])
print(person['hobbies'])
print(person['country'])

salma
['reading', 'cooking']
bangladesh

In [ ]:
country_capital = {
    'bangladesh' : 'dhaka',
    'england' : 'london'
}
del country_capital['england']
print(country_capital.get('bangladesh'))
print(country_capital.get('china'))
print(country_capital.get('china','not found'))

dhaka
None
not found

In [ ]:
#CHANGE DICTIONARY ITEMS
person = {
    'name' : 'salma',
    'hobbies' : ['reading','cooking'] ,
    'country' : 'bangladesh'

}
person["person"] = "Sadia"

for key , value in person.items():
  print(f"{key} - {value}")

name - salma
hobbies - ['reading', 'cooking']
country - bangladesh
person - Sadia

In [ ]:
#add or change dictionary item
marks = {'physics' : 67 , 'math' : 89 , 'chemistry' : 55}
new_marks = {'bangla' : 72}
new_marks.update(marks)
print(new_marks)

update_marks = {'physics' : 80}
update_marks.update(marks)
print(update_marks)

{'bangla': 72, 'physics': 67, 'math': 89, 'chemistry': 55}
{'physics': 67, 'math': 89, 'chemistry': 55}

In [ ]:
 #find the dictionary lenth:
 country_capital = {
     'bangladesh' : 'dhaka',
     'england' : 'london'
 }
 print(len(country_capital))

2

In [ ]:
#dectionary membership test
salmar_favourite_things = {
    ".color" : "blue",
    "food" : "pasta"
}
print("color" in salmar_favourite_things)
print(".hobby" not in salmar_favourite_things)

False
True

In [ ]:
#SLIDE 8  NO START
def add_numbers():
  a = 5
  b = 3
  print(a+b)
add_numbers()

8

In [ ]:
#python function arguments
def greet(name):
  print('hello' , name)

greet('saalma')

hello saalma

In [ ]:
#funtion to add numbers
def number(n1,n2):
  sum = n1 + n2
  print('sum:', sum)

number(4,5)

sum: 9

In [ ]:
#parameters and arguments
def greet(name):
  print('helo' , name)
  greet('salma')
#output dicche na karon greet funtion call kora hoy nei

In [ ]:
#parameters and arguments
def greet(name):
  print('helo' , name)

greet('salma')

helo salma

In [ ]:
def find_square(num):
  result = num * num
  return result

square = find_square(5)
print(square)

25

In [ ]:
#defult arguments
def greet(name, messege = "hello"):
  print(messege , name)

greet('salma' , 'how are you')
greet('akash')

how are you salma
hello akash

In [ ]:
#args in finction

def add_all(*numbers) :
  return sum(numbers)

print(add_all(1, 2, 3, 4))

10

In [ ]:
#kwargs in function
def greet(** words):
  for key , value in words.items():
    print(f'{key} : {value}')

greet(name = 'salma' , age = 21)

name : salma
age : 21